@model  Library.ViewModels.DepartmentViewModel


@{
    ViewBag.Title = "Departmens";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Department", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            City
        </th>

    </tr>

    @foreach (var item in Model.Departments)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.deptID)
        {
            selectedRow = "success";
        }
<tr class="@selectedRow">
    <td>
        @Html.ActionLink("Select", "Index", new { deptID = item.ID })
    </td>
    <td>
        @item.ID
    </td>
    <td>
        @item.Name
    </td>
    <td>
        @item.City
    </td>

</tr>
    }

</table>

@if (Model.Books != null)
{
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Author
            </th>
            <th>
                Year
            </th>
            <th>
                Department
            </th>

        </tr>

        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    @item.Department
                </td>

            </tr>
        }

    </table>
}